body {
    background-color: #163a56b8;
}

#card {
    padding-top: 50px;
}

.card {
    height: 500px;
    width: 200px;
    
}

.card-image img {
    height: 250px;
}

.heading {
    text-align: center;
}






a .btn-small {
    bottom: 5px;
}               

.card-title {
    line-height: 15px;
}