<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}


<!-- Form to Add a book -->
<div class="container">
	<h3 class="center">Add Book</h3>
	<div class="row">
		<form action="{{ url_for('insert_book') }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">book</i>
					<input id="added_by" name="added_by" type="text" required />
					<label for="added_by">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">book</i>
					<input id="book_name" name="book_name" type="text" required />
					<label for="book_name">Book Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">local_library</i>
					<input id="book_author" name="book_author" type="text" required />
					<label for="book_author">Author Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">import_contacts</i>
					<input id="book_genre" name="book_genre" type="text" required />
					<label for="book_genre">Genre</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">portrait</i>
					<span class="popuptext" id="myPopup"></span>
					<input id="img_url" name="img_url" type="text" required />
					<label for="img_url">Image URL - Find image, right click, 'copy image address'</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<i class="material-icons prefix">rate_review</i>
					<label for="book_rating">Rating</label>
					<p class="range-field">
						<input type="range" id="book_rating" name="book_rating" min="0" max="10"/>
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">insert_comment</i>
					<textarea maxlength="50" id="book_comments" name="book_comments" class="materialize-textarea"></textarea>
					<label for="book_comments">Comments</label>
				</div>
			</div>
			<div class="row center">
				<div class="switch">
					<label>
                    <input id="book_share" name="book_share" type="checkbox">
                    <span class="lever"></span>
                    Share
                    </label>
				</div>
			</div>
			<div class="row center">
				<button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Add Book
                    <i class="material-icons right">send</i>
                </button>
			</div>
		</form>
	</div>
</div>

{% endblock %}