<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}


<div class="container">
	<h3 class="center">Edit Book</h3>
	<div class="row">
		<form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">book</i>
					<input id="added_by" name="added_by" type="text" required />
					<label for="added_by">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">book</i>
					<input id="book_name" name="book_name" type="text" value="{{book.book_name}}" required />
					<label for="book_name">Book Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">local_library</i>
					<input id="book_author" name="book_author" type="text" value="{{book.book_author}}" required />
					<label for="book_author">Author Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">import_contacts</i>
					<input id="book_genre" name="book_genre" type="text" value="{{book.book_genre}}" required />
					<label for="book_genre">Genre</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">portrait</i>
					<input id="img_url" name="img_url" type="text" value="{{book.img_url}}" required />
					<label for="img_url">Image URL</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<i class="material-icons prefix">rate_review</i>
                    <label for="book_rating">Rating</label>
					<p class="range-field">
						<input type="range" id="book_rating" value="{{book.book_rating}}" name="book_rating" min="0" max="10" required />
                    </p>	
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">insert_comment</i>
					<textarea maxlength="50" id="book_comments" name="book_comments" class="materialize-textarea" >{{book.book_comments}}</textarea>
					<label for="book_comments">Comments</label>
				</div>
			</div>
			<div class="row center">
				<button class="btn waves-effect waves-light indigo darken-4 center" type="submit" name="action">Edit Book
                    <i class="material-icons right">send</i>
                </button>
			</div>
		</form>
	</div>
</div>

{% endblock %}