{% extends 'base.html' %}
{% block content %}


<div class="container-fluid center">
	<div class="row ">
		<div class="col">
			<div class="carousel">
            <h3>Top Picks of the Week</h3>
				<a class="carousel-item" href="#one!">
                    <img src="{{url_for('static', filename='images/book1.jpg')}}">
                </a>
				<a class="carousel-item" href="#two!">
                    <img src="{{url_for('static', filename='images/book2.jpg')}}">
                </a>
				<a class="carousel-item" href="#three!">
                    <img src="{{url_for('static', filename='images/book3.jpg')}}">
                </a>
				<a class="carousel-item" href="#four!"> 
                    <img src="{{url_for('static', filename='images/book5.jpg')}}">
                </a>
				<a class="carousel-item" href="#five!">
                    <img src="{{url_for('static', filename='images/book6.jpg')}}">
                </a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
<h2>Shared By You..</h2>
	<div class="row">
		{% for book in books %}
		<div id="card" class="col s12 m4 l3 center">
			<div class="card hoverable center-block">
				<div class="card-image">
					<img src= "{{book.img_url}}" alt="Front page of Atomic Habits">
                    </div>
					<div class="card-content title-content">
						<span class="card-title grey-text text-darken-4">{{book.book_name}}</span>
					</div>
					<div class="card-tabs">
						<ul class="tabs">
							<li class="tab col s4"><a class="active" href="#test4{{loop.index}}">Author</a></li>
							<li class="tab col s4"><a href="#test5{{loop.index}}">Genre</a></li>
							<li class="tab col s4"><a href="#test6{{loop.index}}">Rating</a></li>
						</ul>
					</div>
					<div class="card-content grey lighten-4 tabs-content">
						<div id="test4{{loop.index}}">{{book.book_author}}</div>
						<div id="test5{{loop.index}}">{{book.book_genre}}</div>
						<div id="test6{{loop.index}}">{{book.book_rating}} - {{book.book_comments}}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}